:root {
    --main-bg-color: #ffffff;
    --font-family: 'Dosis', 'Open Sans', sans-serif;
    --text-color: #191919;
    --profile-border-color: #b2b2b2;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    width: 100%;
    margin-top: 10%;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img.profile-photo {
    width: 240px;
    height: auto;
    border-width: 5px;
    border-radius: 100%;
    border-style: outset;
    border-color: var(--profile-border-color);
}

div#content {}

h1 {
    font-size: 24px;
}

div#header {
    float: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

div#content {
    float: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    text-decoration: none;
}

a.icon-link {
    text-decoration: none;
}

img.icon {
    width: 50px;
    height: auto;
    margin: 5px;
    border: 0;
}