:root {
    --main-bg-color: #ffffff;
    --font-family: "Raleway", "Courier New";
    --font-weight: 100;
    --text-color: #191919;
    --profile-border-color: #b2b2b2;
    --img-box-shadow: 0px 8px 5px #ccc;
    --img-border-radius: 100%;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    width: 100%;
    margin-top: 10%;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

img.profile-photo {
    width: 240px;
    height: auto;
    border-width: 5px;
    border-radius: var(--img-border-radius);
    border-style: outset;
    border-color: var(--profile-border-color);
    box-shadow: var(--img-box-shadow);
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h1.title,
h2.title {
    font-weight: var(--font-weight);
    text-align: center;
}

h1.title {
    font-size: 24px;
}

h2.title {
    font-size: 22px;
}

div#header {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

div#content {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

div.content-box {
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    text-decoration: none;
}

div#icon-link-group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.icon {
    width: 50px;
    height: auto;
    margin: 5px;
    border: 0;
    border-radius: var(--img-border-radius);
    box-shadow: var(--img-box-shadow);
}