@import 'tailwindcss';

@theme {
  --font-serif: 'Italiana', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;

  --color-neutral-850: #1f1f1f;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --animate-spin-slow: spin 12s linear infinite;
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
