@import 'tailwindcss';

html {
  background-color: black;
}

body {
  color: white;
}

@layer base {
  a {
    @apply text-white underline;
  }

  body {
    @apply font-light
  }

  h2 {
    @apply text-4xl mb-2;
  }

  p {
    @apply text-sm text-gray-400; 
  }

  section {
    @apply snap-start h-screen flex items-center justify-center;
  }
}
